@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../fonts/iconfont.ttf?t=1728625309032') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontweixin:before {
  content: "\e638";
}

.icon-Youtube:before {
  content: "\e880";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

.icon-dingtalk:before {
  content: "\e8d6";
}

.icon-github:before {
  content: "\ecb5";
}

